In [2]:
print('hello world')

hello world

In [3]:
print('new')

new

change to markdownt to write cells for coments

In [4]:
7/4

1.75

In [5]:
7 % 5

2

In [6]:
2**3

8

In [7]:
a =  5

In [8]:
a

5

In [9]:
a = 10

In [10]:
a

10

In [11]:
a+a

20

In [12]:
a

10

In [15]:
a =a +a

In [16]:
a

40

In [17]:
type(a)

int

In [18]:
a = 30.1

In [19]:
type(a)

float

In [20]:
a = 10
b = 2
c = 10-2

In [21]:
c

8

In [23]:
"hello it's me"

"hello it's me"

In [24]:
print("hello \n world")

hello
 world

In [25]:
len("hello")

5

In [26]:
myString ="hello world"

In [27]:
myString

'hello world'

In [28]:
myString[0]

'h'

In [29]:
myString[-1] # revers indexing

'd'

In [30]:
myString[2:]

'llo world'

In [31]:
myString[:4]

'hell'

In [32]:
myString[2:4]

'll'

In [33]:
myString[::]

'hello world'

In [34]:
myString[::2]

'hlowrd'

In [35]:
myString[1:6:2]

'el '

In [36]:
myString[::-1] #revers string

'dlrow olleh'

In [41]:
nam = "Pam"

In [42]:
lasLetters = nam[1:]

In [43]:
lasLetters

'am'

In [46]:
nam = "S"+ lasLetters

In [47]:
nam

'Sam'

In [48]:
letter = "A"

In [49]:
letter * 15

'AAAAAAAAAAAAAAA'

In [54]:
x = "Hello World"

In [52]:
x.upper()

'HELLO WORLD'

In [55]:
x.split()

['Hello', 'World']

In [56]:
y = "this is a string"

In [57]:
y.split("i")

['th', 's ', 's a str', 'ng']

In [60]:
print ("this is a string{}".format(" INSERTED"))

this is a string INSERTED

In [67]:
print ("the {} {} {}".format('fox' , 'brown', 'qick'))

the fox brown qick

In [68]:
print ("the {2} {1} {0}".format('fox' , 'brown', 'qick'))

the qick brown fox

In [72]:
print ("the {0} {0} {0}".format('fox' , 'brown', 'qick'))

the fox fox fox

In [74]:
print ("the {q} {b} {f}".format(f= 'fox' , b = 'brown', q = 'qick'))

the qick brown fox

In [75]:
d = 100 / 7

In [76]:
d

14.285714285714286

In [81]:
print("resault was {r}".format(r= d))

resault was 14.285714285714286

In [82]:
print("resault was {r:1.4f}".format(r= d))

resault was 14.2857

In [85]:
name = "Jose"

In [90]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [92]:
name = "joe"
age = 3

In [96]:
print(f'His name is {name} and he is {age} old')

His name is joe and he is 3 old

In [97]:
my_list = [1,2,3]

In [98]:
myList2 = [1,2,"string",4 ]

In [99]:
myList2[3]

4

In [100]:
myList2[2]

'string'

In [101]:
myList2[1:]

[2, 'string', 4]

In [102]:
thirdList = [5,6,7,8]

In [104]:
newList = my_list +thirdList

In [105]:
newList

[1, 2, 3, 5, 6, 7, 8]

In [106]:
newList[0] ="ALL caps"

In [107]:
newList

['ALL caps', 2, 3, 5, 6, 7, 8]

In [108]:
newList.append('SIX')

In [109]:
newList

['ALL caps', 2, 3, 5, 6, 7, 8, 'SIX']

In [110]:
newList.pop()

'SIX'

In [111]:
newList

['ALL caps', 2, 3, 5, 6, 7, 8]

In [112]:
poped = newList.pop()

In [113]:
poped

8

In [114]:
poped = newList.pop(3)

In [115]:
poped

5

In [116]:
nList = [4,1,6,7,8,3]
mList = ['a', 'f' , 'r' , 't', 'z']

In [117]:
nList.sort()

In [118]:
nList

[1, 3, 4, 6, 7, 8]

In [119]:
mList.sort()

In [122]:
mList

['a', 'f', 'r', 't', 'z']

In [124]:
mList.reverse()

In [125]:
mList

['z', 't', 'r', 'f', 'a']

In [126]:
myDic = {'key1':'val1','key2':'val2','key3':'val3'}

In [127]:
myDic

{'key1': 'val1', 'key2': 'val2', 'key3': 'val3'}

In [129]:
myDic['key1']

'val1'

In [130]:
myPrices = {'apples': 1.00, 'oranges' : 2.99, 'milk': 5.80}

In [132]:
myPrices['apples']

1.0

In [140]:
d = {'k1':'a b c d e', 'k2':[0,1,2], "k3": {'insideKey1':100, 'insideKey2': 200}}

In [135]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insideKey1': 100, 'insideKey2': 200}}

In [136]:
d["k2"]

[0, 1, 2]

In [137]:
d["k3"]

{'insideKey1': 100, 'insideKey2': 200}

In [138]:
d["k1"][2]

2

In [141]:
d["k1"][2].upper()

'B'

In [143]:
d["k4"] = "ABC"

In [144]:
d

{'k1': 'a b c d e',
 'k2': [0, 1, 2],
 'k3': {'insideKey1': 100, 'insideKey2': 200},
 'k4': 'ABC'}

In [146]:
d['k1'] = "NEW Value"

In [147]:
d

{'k1': 'NEW Value',
 'k2': [0, 1, 2],
 'k3': {'insideKey1': 100, 'insideKey2': 200},
 'k4': 'ABC'}

In [149]:
d= {'k1': 'a b c d e',
 'k2': [0, 1, 2],
 'k3': {'insideKey1': 100, 'insideKey2': 200},
 'k4': 'ABC'}

In [150]:
d

{'k1': 'a b c d e',
 'k2': [0, 1, 2],
 'k3': {'insideKey1': 100, 'insideKey2': 200},
 'k4': 'ABC'}

In [151]:
d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [152]:
d.values()

dict_values(['a b c d e', [0, 1, 2], {'insideKey1': 100, 'insideKey2': 200}, 'ABC'])

In [153]:
d.items()

dict_items([('k1', 'a b c d e'), ('k2', [0, 1, 2]), ('k3', {'insideKey1': 100, 'insideKey2': 200}), ('k4', 'ABC')])